<p id="notice"><%= notice %></p>

<%= turbo_stream_from @task_list %>

<%= turbo_frame_tag "task_list" do %>
  <%= render @task_list %>

  <p>
    <%= link_to 'Edit', edit_task_list_path(@task_list) %> |
    <%= link_to 'Back', task_lists_path, 'data-turbo-frame': '_top' %>
  </p>
<% end %>

<hr />

<%= turbo_frame_tag "new_task", src: new_task_list_tasks_path(@task_list), target: "_top" %>

<div id="tasks">
  <%= render @task_list.tasks %>
</div>